<!-- oldest-launches.component.html -->

<div class="container mx-auto">
  <div class="flex flex-col justify-center mb-8">
    <h1 class="text-4xl font-bold mb-4">Oldest Launches</h1>
    <hr class="w-2/12 border-violet-600 border" />
  </div>

  <div class="flex items-center justify-center h-96 bg-gray-800 rounded-2xl">
    <div class="text-center">
      <p class="text-2xl font-bold mb-4">No Oldest Launches Yet</p>
      <p class="text-gray-500">Check back later for updates!</p>
    </div>
  </div>
</div>
